@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";

// start index.html
// start header
.header__top {
    background-color: $bg;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__box {
    display: flex;
    align-items: center;
    .header__btn {
        margin-right: 50px;
        background-color: $blue;
        padding: 14px 18px 11px;
        border-radius: 20px;
        font-size: 14px;
        &-link {
            color: #fff;
        }
    }
    .notification__box {
        .notification {
            font-size: 20px;
            background-repeat: no-repeat;
            color: #7e8fa1;
            position: relative;
            &__index {
                position: absolute;
                color: #fff;
                font-size: 14px;
                @include f300;
                background-color: #ff6a6c;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 26px;
                height: 22px;
                padding: 0 2px;
                top: -15px;
                right: -13px;
            }
        }
    }
    .message__box {
        margin: 0 34px;
        .message {
            font-size: 20px;
            background-repeat: no-repeat;
            color: #7e8fa1;
            position: relative;
            &__index {
                position: absolute;
                color: #fff;
                font-size: 14px;
                @include f300;
                background-color: #62d03b;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                height: 22px;
                padding: 0 2px;
                top: -15px;
                right: -13px;
            }
        }
    }
    .basket__box {
        .basket {
            font-size: 20px;
            background-repeat: no-repeat;
            color: #7e8fa1;
            position: relative;
            &__index {
                position: absolute;
                color: #fff;
                font-size: 14px;
                @include f300;
                background-color: $blue;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 22px;
                height: 22px;
                padding: 0 2px;
                top: -15px;
                right: -15px;
            }
        }
    }
    .user__inner {
        display: flex;
        padding-left: 50px;
        align-items: center;
    }
    .user__info {
        @include f500;
        padding-left: 22px;
        line-height: 22px;
        &-name {
            font-size: 16px;
            color: #333;
        }
        &-money {
            @include f400;
            color: $blue;
        }
    }
}

.header__menu {
    .menu__inner {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    .menu__list {
        .menu__item {
            display: inline-block;
            @include f700;
            text-transform: uppercase;
            & + .menu__item {
                margin-left: 32px;
            }
            .menu__link {
                color: #333;
            }
        }
    }
    .menu__search {
        form {
            position: relative;
        }
        input {
            width: 360px;
            border: 1px solid #d9dfe5;
            height: 44px;
            border-radius: 20px;
            outline: none;
            padding-left: 10px;
            padding-right: 70px;
            &::placeholder {
                color: #898f96;
                padding-left: 13px;
            }
        }
        button {
            width: 70px;
            height: 44px;
            border-radius: 20px;
            background: $blue;
            border: none;
            position: absolute;
            right: 0;
            font-size: 15;
            color: #fff;
            outline: none;
            cursor: pointer;
        }
    }
}
// end header
// start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 725px;
}
.search__inner {
    display: block;
    text-align: center;
    padding-top: 150px;
    &-title {
        color: #fff;
        font-size: 60px;
        z-index: 1;
        line-height: 70px;
        span {
            display: block;
            @include f700;
        }
    }
    &-text {
        padding-top: 30px;
        padding-bottom: 50px;
        color: #fff;
        font-size: 20px;
        @include f500;
    }
    &-links {
        margin-bottom: 140px;
        .search__link {
            width: 190px;
            height: 55px;
            border: 1px solid #fff;
            padding-top: 17px;
            border-radius: 28px;
            font-size: 16px;
            color: #fff;
        }
        .search__link + .search__link {
            margin-left: 25px;
        }
        .search__link:hover {
            background-color: #fff;
            color: $blue;
        }
    }
}
.search__inner-form {
    max-width: 1140px;
    .search__form {
    }
    .search__form-internal {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        height: 135px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        padding-left: 40px;
        position: relative;
        margin-top: 208px;
        z-index: 5;
    }
    .search__form-lead {
        height: 53px;
        border: 1px solid #dcdcdc;
        max-width: 805px;
        width: 100%;
        padding-left: 28px;
        padding-right: 200px;
        border-radius: 5px;
        position: relative;
        outline: none;
        &::placeholder {
            color: #676767;
            font-size: 16px;
        }
    }
    .search__form-list {
        position: absolute;
        right: 26%;
        // width: 193px;
        height: 53px;
        padding-left: 20px;
        padding-right: 72px;
        border-left: 1px solid #dcdcdc;
        line-height: 53px;
        font-size: 16px;
        color: #555555;
        cursor: pointer;
    }
    .lnr-chevron-down:before {
        content: "\e874";
        font-size: 12px;
        position: absolute;
        right: 20px;
        top: 3px;
        color: #555555;
    }
    .search__form-btn {
        width: 223px;
        height: 53px;
        background-color: $blue;
        border: none;
        color: #fff;
        margin-right: 40px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .search__bg--first {
        width: 1120px;
        background-color: #fff;
        height: 135px;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: -145px;
        position: absolute;
        opacity: 0.5;
    }
    .search__bg--second {
        width: 1100px;
        background-color: #fff;
        height: 135px;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: -154px;
        position: absolute;
        opacity: 0.5;
    }
}
// end search
// start advantages
.advantages__inner {
    padding-top: 185px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .advantages__item {
        width: 360px;
        padding: 40px 30px 50px;
        &-title {
            font-size: 24px;
            padding: 30px 0 20px;
            @include f500;
        }
        &-text {
            font-size: 16px;
            color: #555555;
            line-height: 30px;
        }
    }
    .advantages__item:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}
// end advantages
// start featured
.featured {
    background-color: #eef1f3;
    &__inner {
        padding: 115px 0;
    }
    &__panel {
        background-color: #fff;
        padding: 45px 0px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 50px;
        position: relative;
        &-title {
            font-size: 30px;
            padding-left: 30px;
        }
    }

    &__item {
        display: flex !important;
        max-height: 450px;
    }
    .featured__item-content {
        background-color: #fff;
        padding: 50px 50px 24px;
        width: 100%;
        .featured__item-title {
            font-size: 24px;
            @include f500;
            color: #000;
            padding-bottom: 20px;
        }
        .featured__item-info {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
        }
        .featured__item-author {
            display: flex;
            align-items: center;
            padding-right: 20px;
        }
        .featured__item-name {
            color: #000;
            @include f500;
            padding-left: 9px;
        }
        .featured__item-platform {
            color: #7347c1;
            padding-left: 25px;
            position: relative;
            @include f500;
            &::before {
                content: "";
                background-image: url(../images/icons/platform/wp.png);
                width: 16px;
                height: 16px;
                position: absolute;
                left: 0;
            }
        }
        .featured__item-text {
            font-size: 16;
            color: #555;
            line-height: 30px;
            padding-bottom: 30px;
            width: 475px;
        }
        .featured__item-criterions {
            display: flex;
            border-bottom: 1px solid #ececec;
            padding-bottom: 43px;
            .featured__item-criterion + .featured__item-criterion {
                margin-left: 8px;
            }
        }
        .featured__item-criterion {
            background-color: #f1f3f6;
            color: #868c96;
            padding: 7px 18px;
            border-radius: 20px;
        }
        .featured__item-references {
            display: flex;
            justify-content: space-between;
        }
        .reference {
            display: flex;
            padding-top: 23px;
            align-items: center;
        }
        .reference__price {
            color: #fff;
            @include f500;
            background-color: $blue;
            padding: 9px 18px;
            border-radius: 20px;
        }
        .reference__like {
            color: #555;
            padding-left: 45px;
            padding-right: 18px;
            position: relative;
        }
        .lnr-heart:before {
            content: "\e813";
            color: #7347c1;
            position: absolute;
            left: 20px;
        }
        .reference__basket {
            color: $blue;
            padding-left: 23px;
            position: relative;
        }
        .lnr-cart:before {
            content: "\e82e";
            position: absolute;
            left: 0;
        }
    }
    // arrows for slider
    .slick-arrow {
        position: absolute;
        top: -138px;
        border: none;
        background-color: #7347c1;
        padding: 15px;
        outline: none;
        width: 55px;
    }
    .slick-prev {
        right: 85px;
        border-radius: 50% 0 0 50%;
    }
    .slick-next {
        right: 30px;
        border-radius: 0 50% 50% 0;
    }
    .slick-arrow.slick-prev.lnr.lnr-chevron-left::before {
        color: #fff;
    }
    .slick-arrow.slick-next.lnr.lnr-chevron-right::before {
        color: #fff;
    }
}
// end featured
//  start release
.release {
    background-color: #f6f7fb;
    &__inner {
        padding: 115px 0;
    }
    &__panel {
        background-color: #fff;
        padding: 45px 0px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 50px;
        position: relative;
        &-title {
            font-size: 30px;
            padding-left: 30px;
        }
    }
    &__btn {
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        padding: 28px 0px 28px 28px;
        margin-bottom: 50px;
        button + button {
            margin-left: 5px;
        }
        button {
            border: none;
            border-radius: 20px;
            color: #747b86;
            background-color: #f1f3f6;
            padding: 10px 20px;
            cursor: pointer;
            outline: none;
        }
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 360px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 30px;
        .release__image-link {
            display: none;
        }
        &-title {
            padding: 30px 30px 20px 28px;
            font-size: 20px;
            @include f500;
        }
        &-info {
            padding: 0 30px 30px 28px;
            display: flex;
            align-items: center;
            @include f500;
        }
        &-avatar {
            padding-right: 7px;
        }
        &-name {
            color: #000;
            padding-right: 20px;
        }
        &-platform {
            padding-left: 25px;
            color: #7347c1;
            position: relative;
            &::before {
                content: "";
                background-image: url(..//images/icons/platform/wp.png);
                position: absolute;
                width: 15px;
                height: 15px;
                left: 0;
                top: 1px;
            }
        }
        &-text {
            color: #555;
            font-size: 16px;
            line-height: 30px;
            padding: 0 30px 30px 28px;
            border-bottom: 1px solid #ececec;
        }
        .item-reference {
            display: flex;
            align-items: center;
            padding: 15px 30px 15px 28px;
            &-price {
                padding: 8px 17px;
                background-color: #e6f1fd;
                color: $blue;
                border-radius: 20px;
            }
            &-like {
                margin-left: 13px;
                padding-left: 22px;
                color: #6f7d8d;
                position: relative;
            }
            .item-reference-like.lnr.lnr-heart::before {
                color: #7347c1;
                left: 0;
                top: 1px;
                position: absolute;
            }
            &-basket {
                margin-left: 120px;
                padding-left: 23px;
                position: relative;
                color: $blue;
            }
            .item-reference-basket.lnr.lnr-cart::before {
                position: absolute;
                left: 0;
            }
        }
    }
    &__btn-all {
        margin-top: 30px;
        text-align: center;
        button {
            color: #fff;
            background-color: $blue;
            border: none;
            outline: none;
            cursor: pointer;
            width: 190px;
            padding: 20px 5px;
            border-radius: 30px;
            font-size: 16px;
        }
    }
}
// and release
// start feed
.feed {
    background: #eff1f5;
    &__inner {
        padding: 115px 0;
    }
    &__panel {
        background-color: #fff;
        padding: 45px 0px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 50px;
        position: relative;
        &-title {
            font-size: 30px;
            padding-left: 30px;
        }
    }
    .feed-slider__inner {
        display: flex;
        justify-content: space-around;
    }
    .release__item {
        margin-left: 10px;
    }
    .slick-arrow {
        position: absolute;
        top: -138px;
        border: none;
        background-color: #7347c1;
        padding: 15px;
        outline: none;
        width: 55px;
    }
    .slick-prev {
        right: 85px;
        border-radius: 50% 0 0 50%;
    }
    .slick-next {
        right: 30px;
        border-radius: 0 50% 50% 0;
    }
    .slick-arrow.slick-prev.lnr.lnr-chevron-left::before {
        color: #fff;
    }
    .slick-arrow.slick-next.lnr.lnr-chevron-right::before {
        color: #fff;
    }
}
// end feed
// start total
.total {
    height: 350px;
    background-color: #212225;
    &__inner {
        padding: 98px 0;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__item {
        &-icon {
            font-size: 48px;
            padding-bottom: 35px;
        }
        .lnr.lnr-briefcase::before {
            color: #feb71d;
        }
        .lnr.lnr-cloud-download::before {
            color: #58c9e9;
        }
        .lnr.lnr-smile::before {
            color: #77de51;
        }
        .lnr.lnr-users::before {
            color: #ff6a6d;
        }
        &-value {
            font-size: 36px;
        }
        .value-briefcase {
            color: #feb71d;
        }
        .value-download {
            color: #58c9e9;
        }
        .value-smile {
            color: #77de51;
        }
        .value-users {
            color: #ff6a6d;
        }
        &-text {
            font-size: 18px;
            color: #fff;
            padding-top: 15px;
        }
    }
}
// end total
// strat choose
.choose {
    &__inner {
        padding: 110px 0;
    }
    &__title {
        font-size: 36px;
        text-align: center;
        font-weight: 400;
        span {
            color: $blue;
        }
    }
    &__text {
        text-align: center;
        font-size: 16px;
        color: #555;
        max-width: 680px;
        margin: 0 auto;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 58px;
    }
    &__item {
        max-width: 360px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 55px 35px 40px;
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        &-icon {
            padding-bottom: 50px;
            font-size: 60px;
        }
        .lnr.lnr-license::before {
            color: $blue;
        }
        .lnr.lnr-magic-wand::before {
            color: $purple;
        }
        .lnr.lnr-lock::before {
            color: #77de51;
        }
        .lnr.lnr-chart-bars::before {
            color: #feb71d;
        }
        .lnr.lnr-leaf::before {
            color: #58c9e9;
        }
        .lnr.lnr-phone::before {
            color: #ff6a6d;
        }
        &-title {
            font-size: 24px;
            padding-bottom: 24px;
            color: #000;
        }
        &-text {
            color: #555;
            font-size: 16px;
            line-height: 30px;
            width: 295px;
        }
        &-number {
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 48px;
            color: #5c87f8;
            @include f300;
            opacity: 0.2;
        }
    }
}
// end choose
// start waves-choise
.waves-choise {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__author {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        width: 100%;
    }
    &__shoping {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        width: 100%;
    }
    &__icon {
        padding: 100px 0 40px;
    }
    &__title {
        font-size: 36px;
        padding-bottom: 20px;
        color: #fff;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        max-width: 585px;
        margin: 0 auto;
        line-height: 30px;
        padding-bottom: 35px;
    }
    &__link {
        width: 190px;
        background-color: #fff;
        border-radius: 30px;
        padding: 21px 5px 20px;
        margin: 0 auto;
        margin-bottom: 100px;
        a {
            font-size: 16px;
        }
        &--blue {
            color: $blue;
        }
        &--purple {
            color: $purple;
        }
    }
}
// end waves-choise
// start feedback
.feedback {
    &__inner {
        padding: 115px 0;
    }
    &__title {
        font-size: 36px;
        text-align: center;
        padding-bottom: 20px;
        span {
            color: $blue;
        }
    }
    &__text {
        width: 680px;
        font-size: 16px;
        color: #555;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
        padding-bottom: 45 + px;
    }
    &__clients {
        display: flex;
        justify-content: space-between;
    }
    &__client {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        width: 553px;
        padding: 50px 38px 35px;
        border-left: 1px solid $blue;
        &-info {
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            position: relative;
        }
        .lnr.lnr-bubble::before {
            font-size: 60px;
            color: #e8e8e8;
            position: absolute;
            right: 0;
            top: 5px;
        }
        &-about {
            padding-left: 20px;
            @include f500;
        }
        &-name {
            font-size: 20px;
            padding-bottom: 10px;
        }
        &-prof {
            font-size: 16px;
            color: #555;
        }
        &-description {
            color: #555;
            font-size: 16px;
            line-height: 30px;
        }
    }
    &__link {
        text-align: center;
        margin: 60px 0 0;
        a {
            color: #fff;
            font-size: 16px;
            width: 190px;
            background-color: $blue;
            padding: 20px;
            border-radius: 30px;
        }
    }
}
// end feedback
// start news
.news {
    background-color: #eff1f5;
    &__inner {
        padding: 110px 0;
        &-title {
            font-size: 36px;
            text-align: center;
            padding-bottom: 20px;
            span {
                color: $blue;
            }
        }
        &-text {
            color: #555;
            line-height: 30px;
            font-size: 16px;
            width: 680px;
            text-align: center;
            margin: 0 auto;
            padding-bottom: 55px;
        }
        &-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .news__item {
            max-width: 360px;
            background-color: #fff;
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            min-height: 475px;
            &-image {
                img {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &-title {
                padding: 20px 20px 20px 28px;
                font-size: 22px;
                @include f500;
                line-height: 28px;
                a {
                    color: #000;
                }
            }
            &-text {
                border-bottom: 1px solid #ececec;
                padding: 0 24px 20px 28px;
                font-size: 16px;
                line-height: 30px;
                color: #555;
            }
            &-info {
                display: flex;
                padding: 10px 30px 8px 28px;
            }
            &-date {
                padding: 10px 47px 0px 24px;
                color: #7e7e7e;
                position: relative;
                border-right: 1px solid #ececec;
                height: 40px;
                margin-right: 33px;
            }
            .lnr.lnr-clock::before {
                color: $blue;
                position: absolute;
                left: 0;
                top: 11px;
            }
            &-comment {
                padding: 10px 31px 0px 23px;
                color: #7e7e7e;
                position: relative;
            }
            .lnr.lnr-bubble::before {
                position: absolute;
                left: 0;
                top: 11px;
            }
            &-views {
                padding: 10px 0 0px 23px;
                color: #7e7e7e;
                position: relative;
            }
            .lnr.lnr-eye::before {
                position: absolute;
                left: 0;
                top: 11px;
            }
        }
    }
}
// end news
// start pros
.pros {
    height: 100%;

    &__inner {
        display: flex;
        align-items: flex-end;
        text-align: center;
    }
    &__item {
        padding: 60px 0;
        &-money {
            border-right: 1px solid #e8eaf3;
            margin-left: 85px;
            padding-right: 130px;
        }
        &-support {
            padding-left: 130px;
        }
        &-icon {
            padding-bottom: 25px;
        }
        &-title {
            font-size: 24px;
            @include f500;
        }
        .title__money {
            a {
                color: $blue;
            }
        }
        .title__support {
            a {
                color: $purple;
            }
        }
    }
}
// end pros
// start join
.join {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__inner {
        padding: 110px 0;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        color: #fff;
        padding-bottom: 20px;
    }
    &__text {
        font-size: 18px;
        color: #fff;
        padding-bottom: 50px;
    }
    &__link {
        a {
            color: $blue;
            background-color: #fff;
            font-size: 16px;
            width: 190px;
            padding: 20px 10px;
            border-radius: 30px;
        }
    }
}
// end join
// start footer
.footer {
    &__content {
        background-color: #262b30;
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        color: #ababab;
        padding: 110px 0;

        a {
            color: #ababab;
        }
    }
    &__col {
        &-addres {
            width: 265px;
        }
        &-menu {
            width: 135px;
            margin-top: 15px;
        }
        &-contact {
            width: 375px;
            margin-top: 15px;
        }
        &-logo {
            padding-bottom: 30px;
        }
        &-text {
            line-height: 28px;
            padding-bottom: 25px;
        }
        &-phone {
            padding-bottom: 20px;
        }
        &-mail {
            padding-bottom: 20px;
        }
        &-info {
            line-height: 28px;
        }
        &-title {
            color: #fff;
            font-size: 18px;
            padding-bottom: 44px;
        }
        &-list {
            color: #ababab;
            li + li {
                padding-top: 15px;
            }
        }
        &-appeal {
            line-height: 28px;
            margin-top: -3px;
            padding-bottom: 35px;
        }
        &-search {
            position: relative;
            margin-bottom: 45px;
            input {
                width: 360px;
                height: 50px;
                border-radius: 30px;
                padding-left: 30px;
                outline: none;
                border: none;
            }
            button {
                position: absolute;
                width: 110px;
                height: 50px;
                background-color: $blue;
                border: none;
                outline: none;
                border-radius: 30px;
                color: #fff;
                padding: 5px;
                right: 14px;
                cursor: pointer;
            }
        }
        &-social {
            li {
                width: 42px;
                height: 42px;
                display: inline-block;
                border-radius: 50%;
                color: #fff;
                position: relative;
                &::before {
                    font-size: 16px;
                    position: absolute;
                    top: 11px;
                    left: 14px;
                }
            }
            a + a {
                margin-left: 10px;
            }
            .social-facebook {
                background-color: #395799;
                &::before {
                    content: "\f09a";
                    font-family: "icomoon";
                }
            }
            .social-twetter {
                background-color: #19b2f5;
                &::before {
                    content: "\f099";
                    font-family: "icomoon";
                }
            }
            .social-google {
                background-color: #f05b44;
                &::before {
                    content: "\f1a0";
                    font-family: "icomoon";
                }
            }
            .social-pinterest {
                background-color: #9c0c1c;
                &::before {
                    content: "\f0d2";
                    font-family: "icomoon";
                }
            }
            .social-linkedin {
                background-color: #0da6be;
                &::before {
                    content: "\f0e1";
                    font-family: "icomoon";
                }
            }
            .social-dribbble {
                background-color: #ea4c89;
                &::before {
                    content: "\f17d";
                    font-family: "icomoon";
                }
            }
        }
    }
    &__copy {
        background-color: #192027;
        height: 90px;
        &-text {
            color: #999999;
            padding-top: 35px;
            text-align: center;
            line-height: 27px;
            a {
                color: #fff;
            }
        }
    }
}
// end footer
// end index.html

// start how-it-works.html
// start breadcrumbs
.breadcrumbs__works {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .breadcrumbs__inner {
        text-align: center;
    }
    .breadcrumbs__title {
        padding-top: 75px;
        line-height: 50px;
        font-size: 30px;
        color: #fff;
        @include f500;
        span {
            display: block;
            @include f300;
        }
    }
    .breadcrumbs__list {
        color: #fff;
        padding-top: 60px;
        padding-bottom: 25px;
        li {
            display: inline-block;
        }
        a {
            color: #fff;
        }
        span {
            color: #bfcad7;
        }
    }
}
// end breadcrumbs
// start works
.works {
    &-product {
        background-color: #eff1f5;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 95px 0;
        &-info {
            width: 450px;
        }
    }
    &__title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 30px;
    }
    &__text {
        font-size: 16px;
        color: #555;
        line-height: 30px;
        padding-bottom: 18px;
    }
    &__btn {
        background-color: $blue;
        color: #fff;
        width: 170px;
        text-align: center;
        padding: 18px 5px;
        border-radius: 30px;
        transition: all 0.3s;
    }
    &__btn:hover {
        background-color: #fff;
        color: $blue;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
    }
}
.works-join {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__inner {
        text-align: center;
        color: #fff;
        padding: 100px 0;
    }
    &__title {
        font-size: 36px;
    }
    &__text {
        padding-top: 5px;
        font-size: 18px;
        color: #e7e7e7;
    }
    &__btn {
        background-color: #fff;
        color: $blue;
        width: 190px;
        text-align: center;
        font-size: 16px;
        padding: 20px 5px;
        border-radius: 30px;
        margin-top: 35px;
    }
}
// end works
// end how-it-works.html

// start registration.html
// start breadcrumbs
.breadcrumbs {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .breadcrumbs__inner {
    }
    .breadcrumbs__list {
        color: #fff;
        padding-top: 60px;
        padding-bottom: 15px;
        li {
            display: inline-block;
        }
        a {
            color: #fff;
        }
        span {
            color: #bfcad7;
        }
    }
    .breadcrumbs__title {
        padding-bottom: 50px;
        line-height: 50px;
        font-size: 30px;
        color: #fff;
        @include f500;
        span {
            display: block;
            @include f300;
        }
    }
}
// end breadcrumbs
// start registration
.registration {
    background-color: #eff1f5;
    padding: 70px 0 120px;
    &__inner {
        max-width: 555px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 5px;
        padding-top: 50px;
        margin: 0 auto;
    }
    &__info {
        text-align: center;
        border-bottom: 1px solid #e8ebf0;
        padding-bottom: 5px;
    }
    &__title {
        font-size: 26px;
        line-height: 28px;
        padding: 0 65px;
    }
    &__text {
        font-size: 16px;
        color: #555;
        line-height: 28px;
        padding: 0 60px;
    }
    &__box {
        padding: 25px 50px 55px;
        font-size: 16px;
        .registration__line + .registration__line {
            padding-top: 25px;
        }
    }
    &__line {
        label {
            display: block;
            padding-bottom: 5px;
            @include f500;
            line-height: 26px;
        }
        input {
            width: 100%;
            padding: 15px 20px;
            background-color: #f4f5f8;
            border: none;
            outline: none;
            &::placeholder {
                color: #898f96;
            }
        }
    }
    &__btn {
        width: 190px;
        text-align: center;
        background-color: $blue;
        color: #fff;
        border: none;
        outline: none;
        padding: 18px 5px;
        border-radius: 30px;
        margin: 30px 0px;
        cursor: pointer;
    }
    &__link {
        color: #898f96;
        line-height: 26px;
        a {
            color: $blue;
        }
    }
}
// end registration
// end registration.html

// start pricing.html
.pricing {
    background-color: #eff1f5;
    &__inner {
        padding: 100px 0;
    }
    &__title {
        font-size: 36px;
        text-align: center;
        span {
            color: $blue;
        }
    }
    &__text {
        color: #555;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        width: 675px;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 45px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 360px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        padding: 0 30px;
        &-started {
            border-top: 3px solid #ff6a6c;
            .pricing__item-money {
                font-size: 36px;
                text-align: center;
                padding-top: 25px;
                position: relative;
                &::after {
                    content: "$";
                    position: absolute;
                    font-size: 18px;
                    left: 68px;
                    top: 32px;
                }
            }
            .pricing__item-link {
                a {
                    background-color: #ff6a6c;
                }
            }
        }
        &-business {
            border-top: 3px solid $blue;
            .pricing__item-money {
                font-size: 36px;
                text-align: center;
                padding-top: 25px;
                position: relative;
                &::before {
                    content: "$";
                    position: absolute;
                    font-size: 18px;
                    left: 68px;
                    top: 32px;
                }
            }
            .pricing__item-link {
                a {
                    background-color: $blue;
                }
            }
        }
        &-agency {
            border-top: 3px solid #feb71d;
            .pricing__item-money {
                font-size: 36px;
                text-align: center;
                padding-top: 25px;
                position: relative;
                &::before {
                    content: "$";
                    position: absolute;
                    font-size: 18px;
                    left: 58px;
                    top: 32px;
                }
            }
            .pricing__item-link {
                a {
                    background-color: #feb71d;
                }
            }
        }
        &-title {
            font-size: 24px;
            @include f500;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e8ebf0;
        }
        &-money {
            span {
                font-size: 16px;
                color: #555;
            }
        }
        &-list {
            padding: 35px 0;

            li + li {
                padding-top: 15px;
            }
        }
        &-point {
            color: #555;
            font-size: 16px;
            position: relative;
            padding-left: 23px;

            &::after {
                content: "";
                background-color: #c5cad4;
                width: 7px;
                height: 7px;
                position: absolute;
                border-radius: 50%;
                left: 0;
                bottom: 5px;
            }
            span {
                color: #000;
                @include f500;
            }
        }
        .lnr-question-circle:before {
            content: "\e87d";
            position: absolute;
            font-size: 18px;
        }
        .pricing__item-point.point-templates.lnr.lnr-question-circle::before {
            right: 65px;
            top: 17px;
        }
        .pricing__item-point.point-support.lnr.lnr-question-circle::before {
            right: 87px;
            top: 17px;
        }
        .pricing__item-point.point-demos.lnr.lnr-question-circle::before {
            right: 135px;
            top: 16px;
        }
        &-link {
            margin-bottom: 30px;
            a {
                width: 300px;
                background: #000;
                color: #fff;
                text-align: center;
                font-size: 18px;
                line-height: 28px;
                padding: 10px 5px;
                border-radius: 5px;
            }
        }
    }
}
// end pricing.html

// start contact.html
// start breadcrumbs
.breadcrumbs__contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .breadcrumbs__inner {
        text-align: center;
    }
    .breadcrumbs__title {
        padding: 75px 0;
        line-height: 50px;
        font-size: 30px;
        color: #fff;
        @include f500;
        span {
            font-size: 20px;
            display: block;
            font-weight: 400;
        }
    }
}
// end breadcrumbs
// start contact
.contact {
    background-color: #eff1f5;
    &__inner {
        padding-top: 110px;
    }
    &__title {
        font-size: 36px;
        text-align: center;
        padding-bottom: 15px;
        span {
            color: $blue;
        }
    }
    &__text {
        line-height: 30px;
        font-size: 16px;
        color: #555;
        width: 675px;
        margin: 0 auto;
        text-align: center;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    &__item {
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        max-width: 360px;
        width: 100%;
        text-align: center;
        padding: 50px 63px 45px 64px;
        &-icon {
            padding-bottom: 45px;
        }
        .lnr-map-marker:before {
            font-size: 48px;
            color: $blue;
        }
        .lnr-phone:before {
            font-size: 48px;
            color: $blue;
        }
        .lnr-inbox:before {
            font-size: 48px;
            color: $blue;
        }
        &-title {
            font-size: 20px;
            @include f500;
            padding-bottom: 30px;
        }
        &-info {
            font-size: 16px;
            line-height: 30px;
            color: #555;

            a {
                color: #555;
            }
        }
    }
    &__form {
        background-color: #fff;
        margin-top: 50px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        position: relative;
        &-title {
            text-align: center;
            font-size: 24px;
            padding: 55px 0 30px;
            border-bottom: 1px solid #e8ebf0;
            margin-bottom: 40px;
        }
        form {
            padding: 0 195px 140px 195px;
            input {
                max-width: 360px;
                width: 100%;
                border: 1px solid #e7e7e7;
                outline: none;
                padding: 15px 5px 15px 45px;
                &::placeholder {
                    color: #9e9e9e;
                    font-size: 16px;
                }
            }
        }
        &-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        textarea {
            width: 100%;
            height: 130px;
            resize: none;
            padding: 17px 45px 5px 45px;
            margin-top: 5px;
            outline: none;
            border: 1px solid #e7e7e7;
            &::placeholder {
                color: #9e9e9e;
                font-size: 16px;
            }
        }
        &-btn {
            width: 170px;
            color: #fff;
            font-size: 16px;
            background-color: $blue;
            padding: 16px 5px;
            border-radius: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 30px;
            position: absolute;
            top: 450px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__map {
        padding-top: 100px;
        outline: none;
        margin-bottom: -2px;
    }
}
// end contact
// end contact.html

// start terms.page
.terms {
    background-color: #eff1f5;
    padding: 60px 0 100px;
    &__inner {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        &:last-child {
            padding-bottom: 60px;
        }
    }
    &__title {
        border-bottom: 1px solid #e8ebf0;
        padding: 30px 0 25px 25px;
        font-size: 24px;
    }
    &__text {
        line-height: 30px;
        font-size: 16px;
        color: #555;
        padding: 0 40px 0 25px;
    }
}
// end terms.page
